section.blog {
    margin-top:30px;
    width:100%;
    height:65px;
    background:#26a1e4;
    margin-bottom: 80px;
    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        
       
    }
    h1{
        font-size:24px;
        font-family: 'Myriad Pro','Regular';
        color:#fff;
        padding-top:20px;
       
    }
    ul {
       
         margin-right:3px;
         
    }
    li {
       
        font-size:14px;
        font-family: 'Myriad Pro','Regular';
        display: inline-flex;
        color:#fff;
       margin-top:20px;
        
        
        
        &:hover {
             text-decoration: underline;
        }
    }
}
    
   

.long-text{
    h2{
        margin-bottom: 35px;
        margin-top:35px;
        color:#4b4b4b;
        font-family: 'Myriad Pro','Regular';
        font-size:24px;
        
    }
    
    p{
        font-size:14px;
        font-family: 'Myriad Pro','Regular';
        margin-bottom:35px;
        width:70%;
        color:#4b4b4b;
    }
    h5{
        padding-bottom: 35px;
         color:#4b4b4b;
        font-size:14px;
        font-family: 'Myriad Pro','Regular';
    }
}

.share-contacts{
    display: flex;
   padding:85px 0px 40px ;
    h3{
        color:#26a1e4;
        font-size:14px;
        font-family: 'Open Sans','Bold';
        font-weight: 600;
        text-transform: uppercase;
        margin-right:10px;
        margin-top:10px;
       
    }
    
}
 .btn1{
            width:100px;
            height:35px;
            background-color: #2f6ae0;
    line-height: 2.5;
     text-align: center;
  color:#fff;
     margin-right:10px;
      font-size:14px;
        font-family: 'Myriad Pro','Regular';
        }

.btn2 {
             width:100px;
            height:35px;
            background-color: #0ea9fd;
    line-height: 2.5;
     text-align: center;
  color:#fff;
     margin-right:10px;
     font-size:14px;
        font-family: 'Myriad Pro','Regular';
}
.btn3{
            width:100px;
            height:35px;
            background-color: #c73252;
    line-height: 2.5;
     text-align: center;
  color:#fff;
     margin-right:10px;
     font-size:14px;
        font-family: 'Myriad Pro','Regular';
   
}
.btn4{
            width:100px;
            height:35px;
            background-color: #595959;
     line-height: 2.5;
     text-align: center;
  color:#fff;
     margin-right:10px;
     font-size:14px;
        font-family: 'Myriad Pro','Regular';
}

.comments{
    h1{
        font-size:24px;
        font-family: 'Open Sans','Bold';
        color:#26a1e4;
        font-weight: 600;
        margin-bottom: 20px;
        
    }
}

.inputs {
    .container{
       
        height:45px;
        display: flex;
        margin-bottom: 15px;
    }
}

.text-area {
    width:70%;
    height:150px;
    margin-bottom: 80px;
   
   
}

.content-right{
  
width:15%;
    float:right;
    margin-right:150px;

    .search-input{
        width:360px;
      height:40px;
        background-color:#ebebeb;
        font-size:14px;
        font-family: 'Myriad Pro','Regular';
        color:#222222;
    }
    h2{
         font-size:24px;
        font-family: 'Myriad Pro','Regular';
        color:#4b4b4b;
        margin-top:25px;
        margin-bottom: 28px;
    }
   
    
}
.content-right {
    p{
        width:100%;
        float:right;
    }
}

.posts {
    h2{
        width:100%;
        font-size:24px;
        font-weight: 400;
        font-family: 'Myriad Pro','Regular';
        margin-left:50px;
    }
}


.latest-projects{
    h3{
        font-size:24px;
        font-family: 'Myriad Pro','Regular';
        color:#4b4b4b;
        font-weight: 400;
        margin-top: 45px;
    }
    ul{
        margin-top:25px;
        li{
            color:#4b4b4b;
              font-size:14px;
        font-family: 'Myriad Pro','Regular';
            margin-top:25px;
            cursor: pointer;
            
           
            &:before{
                content: '\f054';
    font-family: FontAwesome;
    color: #26a1e4;
    margin-right: 3px;
                font-size:10px;
            }
        }
    }
}


